# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environments
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# Data files (do not commit raw datasets)
data/raw/*
data/processed/*

# OS files
.DS_Store

# VS Code
.vscode/

# Mac / Linux temp files
*.swp
*.swo